@use 'mixins.scss' as *;

.card {
    padding: 16px;
    background-color: #FFF;
    box-shadow: 0px 5px 15px rgb(100, 177, 255, 0.1);
    border-radius: 10px;

    @include minimum-for('mobile') {
        padding: 24px;
    }

    @include minimum-for('tablet') {
        padding: 32px;
    }
}
