@use 'mixins.scss' as *;
@use 'vars.scss' as *;

.container {
    overflow: auto;
    min-height: 250px;
    max-height: 520px;
    max-width: 350px;
    padding-top: 0 !important;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: #FFF;
    border-bottom: 1px dashed #EEE;

    @include minimum-for('mobile') {
        padding-top: 24px;
    }

    @include minimum-for('tablet') {
        padding-top: 32px;
    }
}

.title {
    margin: 0;
    padding: 0;
    color: #121F48;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.new-title,
.new-button {
    display: inline-block;
    vertical-align: middle;
}

.new-title {
    margin-right: 16px;
    color: $color-primary--700;
    font-size: 0;
    font-weight: 500;

    @include minimum-for('desktop') {
        font-size: 12px;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item {
    & + .item {
        margin-top: 20px;
    }
}

.empty {
    width: 75%;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateX(-7.5%);
    color: #666;
    font-size: 14px;
    text-align: center;

    @include minimum-for('tablet') {
        top: 25%;
    }
}
