@import 'mixins.scss';

.paragraph {
    color: #121F48;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.46;

    @include minimum-for('tablet') {
        font-size: 23px;
    }

    @include minimum-for('desktop') {
        font-size: 35px;
    }
}
